* {
    user-select: none;
}

.filters {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.filterButton {
    color: white;
    cursor: pointer;
    width: 100px;
    height: 30px;
    background-color: #b298dc;
    padding: 3px;
    border-radius: .3rem;
    align-content: center;
    text-align: center;
    margin-left: 20px;
}

.active {
    background-color: #5c4f71;
}